* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 5px 50px;
    background-color: rgb(52, 51, 53);
}

header h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    color: #fff;
}


header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    padding: 0px 20px;
    list-style: none;
}

li a {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

li a:hover {
    color: rgb(243, 243, 29);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background: linear-gradient(90deg, rgba(26,26,27,1) 50%, rgba(32,31,43,1) 100%);
}

main h1,
main h3 {
    color: white;
    margin: 10px 0px;
}

main h1 {
    font-size: 5.2rem;
}

main h3 {
    font-size: 2rem;
}

main button {
    margin: 10px 0px;
    width: 300px;
    height: 50px;
    font-size: 2.7rem;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

main button:hover {
    border-radius: 20px;
    background-color: rgb(243, 243, 29);
}